// variables
$primaryBtn : rgb(138, 11, 11);
$textColor: rgb(248, 244, 244);

header {
    background: lightcoral;
    display: flex;
    justify-content: center;
    color: $textColor;
      button {
        background: $primaryBtn;
        color: $textColor;
        &::after {
            content: "Helloo";
        }
      }
}

.contact button {
    background: $primaryBtn;
    color: $textColor;
}

